.community {
   margin-bottom: $offset-section;

   &__wrapper {
      position: relative;
   }

   &__slider {
      height: 480px;
   }

   &__swiper {
      padding-left: 10px;
      height: 480px;
      width: 1000px;
      float: right;
      overflow: hidden;

      @include tablet {
         float: none;
         padding-left: 0;
         overflow: visible;
         width: 772px;
      }
   }

   &__title {
      padding-left: 60px;
      &::before {
         background-image: url('../../img/community-icon.svg');
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         left: 60px;
      }
   }

   &__slide-img {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      height: 480px;

   }

   &__content {
      position: absolute;
      top: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__quote {
      font-style: italic;
      max-width: 320px;
      text-align: center;
      color: $color-white;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: $offset-small;
   }

   &__author {
      position: relative;
      display: inline-block;
      text-align: center;
      font-family: $font-secondary;
      font-size: 20px;
      color: $color-white;
      max-width: 320px;
      display: inline-block;

      &::before {
         position: absolute;
         content: '';
         left: -30px;
         width: 20px;
         height: 20px;
         background-image: url('../../img/quote-line.svg');
         background-position: center;
         background-repeat: no-repeat;
         background-size: contain;
      }
   }

}

.community__button-prev,
.community__button-next {
   width: 36px;
   height: 36px;
   outline: none;
   position: absolute;
   bottom: 0;
   left: 5%;
   cursor: pointer;

   &:hover svg {
      fill: $color-primary;
   }

   svg {
      transition: fill 0.3s ease-in-out;
      fill: $color-neutral;
   }

   @include minidesktop {
      right: 5%;
      bottom: -80px;
   }
}

.community__button-next {
   margin-left: calc(36px + $offset-main);
}

.swiper-button-disabled {
   svg {
      fill: gray;

      &:hover {
         fill: gray;
      }
   }

}