<section id="community" class="community">
   <div class="community__wrapper">
      <h2 class="title community__title">
         Community
         <span class="title_green">.</span>
      </h2>
         <div class="community__slider">
            <div class="community__swiper">
                <div class="swiper-wrapper community__swiper-wrapper">
                  <div class="swiper-slide community__slide">
                       <img src="img/community-slider-img1.png" alt="" class="community__slide-img">
                       <div class="community__content">
                           <div class="community__quote">“Gymme changed my life. Not only physically but mentally as well. I’m a better mother, and all around better human being because of this gym.”</div>
                           <div class="community__author">Mark A.</div>
                       </div>
                  </div>
                  <div class="swiper-slide community__slide">
                     <img src="img/community-slider-img2.png" alt="" class="community__slide-img">
                     <div class="community__content">
                        <div class="community__quote">“Great location, great price and great, helpful people. What to want more?”</div>
                        <div class="community__author">Lauren K.</div>
                     </div>
                  </div>
                  <div class="swiper-slide community__slide">
                     <img src="img/community-slider-img3.png" alt="" class="community__slide-img">
                     <div class="community__content">
                        <div class="community__quote">“Love these workouts! Trainers are knowledgeable and motivating. Gymme is wonderful!”</div>
                        <div class="community__author">Stella B.</div>
                     </div>
                  </div>
                  <div class="swiper-slide community__slide">
                     <img src="img/community-slider-img1.png" alt="" class="community__slide-img">
                     <div class="community__content">
                         <div class="community__quote">“Gymme changed my life. Not only physically but mentally as well. I’m a better mother, and all around better human being because of this gym.”</div>
                         <div class="community__author">Mark A.</div>
                     </div>
                  </div>
                  <div class="swiper-slide community__slide">
                     <img src="img/community-slider-img2.png" alt="" class="community__slide-img">
                     <div class="community__content">
                        <div class="community__quote">“Great location, great price and great, helpful people. What to want more?”</div>
                        <div class="community__author">Lauren K.</div>
                     </div>
                  </div>
                  <div class="swiper-slide community__slide">
                     <img src="img/community-slider-img3.png" alt="" class="community__slide-img">
                     <div class="community__content">
                        <div class="community__quote">“Love these workouts! Trainers are knowledgeable and motivating. Gymme is wonderful!”</div>
                        <div class="community__author">Stella B.</div>
                     </div>
                  </div>
                  
                </div>
                <div class="community__button-prev">  
                  <svg width="40" height="40" viewBox="0 0 40 40"  xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" clip-rule="evenodd" d="M20 1.66675C30.125 1.66675 38.3334 9.87508 38.3334 20.0001C38.3334 30.1251 30.125 38.3334 20 38.3334C9.87504 38.3334 1.66671 30.1251 1.66671 20.0001C1.66671 9.87508 9.87504 1.66675 20 1.66675ZM23.6784 14.5117C23.982 14.1974 24.15 13.7764 24.1462 13.3394C24.1424 12.9024 23.9671 12.4844 23.6581 12.1754C23.3491 11.8664 22.931 11.6911 22.494 11.6873C22.057 11.6835 21.636 11.8515 21.3217 12.1551L14.655 18.8217C14.3426 19.1343 14.1671 19.5581 14.1671 20.0001C14.1671 20.442 14.3426 20.8659 14.655 21.1784L21.3217 27.8451C21.636 28.1487 22.057 28.3167 22.494 28.3129C22.931 28.3091 23.3491 28.1338 23.6581 27.8248C23.9671 27.5158 24.1424 27.0977 24.1462 26.6607C24.15 26.2238 23.982 25.8027 23.6784 25.4884L18.19 20.0001L23.6784 14.5117Z" />
                  </svg>
                </div>
                <div class="community__button-next">
                  <svg width="38" height="38" viewBox="0 0 38 38"  xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" clip-rule="evenodd" d="M19 0.666748C8.87496 0.666748 0.666626 8.87508 0.666626 19.0001C0.666626 29.1251 8.87496 37.3334 19 37.3334C29.125 37.3334 37.3333 29.1251 37.3333 19.0001C37.3333 8.87508 29.125 0.666748 19 0.666748ZM15.3216 13.5117C15.018 13.1974 14.85 12.7764 14.8538 12.3394C14.8576 11.9024 15.0329 11.4844 15.3419 11.1754C15.6509 10.8664 16.069 10.6911 16.506 10.6873C16.943 10.6835 17.364 10.8515 17.6783 11.1551L24.345 17.8217C24.6574 18.1343 24.8329 18.5581 24.8329 19.0001C24.8329 19.442 24.6574 19.8659 24.345 20.1784L17.6783 26.8451C17.364 27.1487 16.943 27.3167 16.506 27.3129C16.069 27.3091 15.6509 27.1338 15.3419 26.8248C15.0329 26.5158 14.8576 26.0977 14.8538 25.6607C14.85 25.2238 15.018 24.8027 15.3216 24.4884L20.81 19.0001L15.3216 13.5117Z" />
                  </svg> 
                </div>
         </div>
      </div>
   </div>
</section>