<header class="header">
   <div class="container">
       <div class="header__wrapper"> 
            <a class="header__logo logo"><img src="img/logo.svg" alt="Gym me" /></a>
            <nav data-nav class="header__nav">
               <ul class="header__list">
                   <li class="header__item"><a class="header__link" href="#home">Home </a></li>
                   <li class="header__item"><a class="header__link" href="#aboutUs">About </a></li>
                   <li class="header__item"><a class="header__link" href="#workouts">Workouts </a></li>
                   <li class="header__item"><a class="header__link" href="#pricing">Pricing </a></li>
                   <li class="header__item"><a class="header__link" href="#community">Community </a></li>
                   <li class="header__item"><a class="header__link" href="#faq">FAQ </a></li>
               </ul>
           </nav>
           <div class="header__buttons"> 
              <a href="tel:+678888712" class="header__phone">+6 788 887 12</a>
              <button class="btn btn_reset header__btn">Call Us</button>
            </div>
            <button class="burger" data-burger aria-label="Открыть меню" aria-expanded="false">
                <span class="burger__line"></span>
            </button>
       </div>
   </div>
</header>