<section class="hero">
   <div class="container">
       <div class="hero__wrapper">
           <h1 class="hero__title">Get the best part of&nbsp;your day
            <span class="hero__title hero__title_green">-&nbsp;you fit here.</span> </h1>
           <p class="hero__subtitle">We provide serious fitness but within a fun and friendly, safe space.</p>
           <button class="btn_fill btn_reset btn hero__btn">Join Now</button>
       </div>
   </div>
   <img class="hero__img" src="img/hero.png" alt="" />
</section>