<section class="join">
   <div class="container">
      <div class="join__wrapper">
         <img class="join__image" src="img/join-bg.png" alt="">
         <div class="join__content">
            <h2 class="title join__title">
               Wanna join <span class="title_green">&</span> have fun?
            </h2>
            <p class="join__subtitle">
               We'll keep you updated on the things you need to know about Gymme. Nothing more, nothing less.
            </p>
            <button class="btn_fill btn btn_reset">Join Now</button>
         </div>
      </div>
   </div>
</section>