<div class="modal">
   <form class="modal__form form">
      <button class="modal__btn-close btn_reset"></button>
      <div class="modal__title">Wanna join & have fun?</div>
      <div class="modal__subtitle">We will call you as soon as posible</div>
      <label for="name" class="modal__label">
         <div class="modal__text">Name</div>
         <input type="name" name="name" class="modal__input-name modal__input" data-validate-field="name">         
      </label>
      <label for="email" class="modal__label">
         <div class="modal__text">Email</div>
         <input type="email" name="email" class="modal__input-email modal__input" data-validate-field="email">         
      </label>
      <label for="tel" class="modal__label">
         <div class="modal__text">Telephone</div>
         <input type="tel" name="tel" class="modal__input-tel modal__input" data-validate-field="tel">         
      </label>  
      <button class="btn_reset btn-submit modal__btn">Submit</button>    
   </form>
</div>