<section id="pricing" class="pricing">
   <div class="container">
      <div class="pricing__wrapper">
         <div class="pricing__top">
            <h2 class="title pricing__title">
               Pricing plan
               <span class="title_green">.</span>
            </h2>
         </div>
         <div class="pricing__items">
            <div class="pricing__item">
               <div class="pricing__item-top">
                  <div class="pricing__tarif">Basic</div>
                  <div class="pricing__price">20<span>$</span></div>
                  <div class="pricing__descr">/month</div>
               </div>
               <div class="pricing__item-bottom">
                  <ul class="pricing__list">
                     <li class="pricing__list-item">
                        unlimited gym access
                     </li>
                     <li class="pricing__list-item">
                        1 training programs
                     </li>
                     <li class="pricing__list-item">
                        free fitness consultation
                     </li>
                  </ul>
                  <button class="pricing__btn btn btn_stroke btn_reset">Join Now</button>
               </div>
            </div>
            <div class="pricing__item pricing__item_black">
               <div class="pricing__item-top">
                  <div class="pricing__tarif pricing__tarif_black">Premium</div>
                  <div class="pricing__price">35<span>$</span></div>
                  <div class="pricing__descr">/month</div>
               </div>
               <div class="pricing__item-bottom">
                  <ul class="pricing__list">
                     <li class="pricing__list-item pricing__list-item_black">
                        unlimited gym access
                     </li>
                     <li class="pricing__list-item pricing__list-item_black">
                        5 training programs
                     </li>
                     <li class="pricing__list-item pricing__list-item_black">
                        free fitness consultation
                     </li>
                     <li class="pricing__list-item pricing__list-item_black">
                        personal trainer
                     </li>
                  </ul>
                  <button class="pricing__btn btn btn_fill btn_reset">Join Now</button>
               </div>
            </div>
            <div class="pricing__item">
               <div class="pricing__item-top">
                  <div class="pricing__tarif">Elite</div>
                  <div class="pricing__price">49<span>$</span></div>
                  <div class="pricing__descr">/month</div>
               </div>
               <div class="pricing__item-bottom">
                  <ul class="pricing__list">
                     <li class="pricing__list-item">
                        unlimited gym access
                     </li>
                     <li class="pricing__list-item">
                        all training programs
                     </li>
                     <li class="pricing__list-item">
                        free fitness consultation
                     </li>
                     <li class="pricing__list-item">
                        personal trainer
                     </li>
                     <li class="pricing__list-item">
                        50% off drinks
                     </li>
                  </ul>
                  <button class="pricing__btn btn btn_stroke btn_reset">Join Now</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>